@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
:root {
    /* change padding of the bar */
    --rscb-chat-box-padding: 8px; /* default is 8px for alignment */
    /* Whether you want the chat to not move up *\
    \*    and down when someone starts typing   */
    --rscb-no-jump-chat: 1;
    /* Whether you want the messages to clip through *\
     \*  the gap between slowmode and typing people   */
    --rscb-clip-chat-through-typing-bar: 0;
}
:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size)) +
            var(--custom-guild-list-padding) * 2
    );
}

nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplate */
    /* margin: 0;
    [class*="sidebar_"]::after {
        height: 0;
    } */

    defs > path {
        /* #svg-mask-squircle */
        d: path(
            "M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z"
        );
    }

    defs,
    [class*="blobContainer_"],
    [class*="listItemWrapper__"],
    [class*="wrapper_"]:not([class*="listItem__"] > [class*="wrapper_"]),
    svg[class*="placeholderMask__"],
    svg:not([class*="placeholderMask__"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="dragInner__"] {
        width: 40px;
        height: 40px;
    }

    [class*="dragOver_"] {
        top: calc(var(--guildbar-avatar-size) / 2 + 8px);
    }

    [class*="childWrapper__"] > svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="childWrapper__"],
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;
    }

    [class*="selected__"] {
        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        &[class*="circleIconButton__"] {
            border-radius: 27% !important;
        }
    }

    [class*="shiftSVG_"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        &:not([class*="folderHeader__"] mask) {
            use[href$="-lower_badge_masks"] {
                translate: var(--badge-offset) var(--badge-offset);
            }

            use[href$="-upper_badge_masks"] {
                translate: var(--badge-offset);
            }
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderPreviewWrapper__"] {
        display: flex;
        justify-content: center;
        align-items: center;

        [class*="folderPreview__"] {
            width: calc(
                var(--guildbar-folder-size) * (2 / 3) +
                    var(--custom-folder-preview-gap)
            );
            height: calc(
                var(--guildbar-folder-size) * (2 / 3) +
                    var(--custom-folder-preview-gap)
            );
        }
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="folderButton__"] {
        overflow: visible;
    }

    [class*="folderHeader__"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
    }

    [class*="folderIcon__"] {
        svg {
            width: 24px !important;
            height: 24px !important;
        }

        background-color: var(--bg-mod-subtle);
    }

    [class*="closedFolderIconWrapper__"] {
        gap: initial;
    }

    [class*="listItem__"] {
        margin-bottom: 8px;
        height: min-content;
    }

    [class*="stack_"] {
        gap: 0 !important;
    }

    #guild-list-unread-dms {
        margin-top: 0 !important;
        > div {
            height: var(--guildbar-avatar-size) !important;
            margin-bottom: 8px;
        }
    }

    [class*="isExpanded__"] {
        [class*="folderGroupBackground__"] {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        [class*="stack_"] {
            height: auto !important;
            :last-child {
                margin-bottom: 0;
            }
        }

        > [class*="listItem__"] {
            margin-bottom: 0;
        }

        margin-bottom: 8px;
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
        --blob-scale: var(--folder-blob-scale);
    }
}
:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}
/**
 * @name Chat Related Alerts at Top
 * @author NSPG911
 * @version 1.0.0
 * @description Seamlessly blends both the `New Messages` and `Viewing Old Messages` at the top of the chat panel
 * @source https://nspc911.github.io/themes/vencord/ChatRelatedAlertsAtTop.theme.css
*/

:root {
    /* Set to 1 if you want them to float  *\
  |*      Recommended while using        *|
  \*      Midnight/Rounded Themes        */
    --craat-popout: 0; /* Default = 0 */
    /* Change the border radius *\
  \*      for the alerts      */
    --craat-border-radius: 16px; /* default: 16px */
}

.visual-refresh #app-mount .jumpToPresentBar__0f481 > button {
    height: 32px;
}

.visual-refresh #app-mount .chatHeaderBar_dc83f5 {
    width: calc(100% - 45px) !important;
    border-bottom-color: transparent !important;
    min-width: unset !important;
    top: calc(8px * var(--craat-popout)) !important;
    border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
        calc(var(--craat-border-radius) * var(--craat-popout))
        var(--craat-border-radius) var(--craat-border-radius);
    left: 8.5px !important;
    right: 8px !important;
    z-index: 5 !important;
    padding: 10px 12px 10px 16px !important;
    > button {
        padding: 0 10px;
    }
    &:has(
        ~ .messagesWrapper__36d07
            > :is(
                .jumpToPresentBar__0f481,
                .newMessagesBar__0f481,
                .topicsPillContainer__0f481,
                .newTopicsBarContainer__0f481
            )
    ) {
        border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
            calc(var(--craat-border-radius) * var(--craat-popout)) 0 0;
    }
    & ~ .messagesWrapper__36d07 {
        margin-top: -1px;
        > :is(
            .jumpToPresentBar__0f481,
            .newMessagesBar__0f481,
            .topicsPillContainer__0f481,
            .newTopicsBarContainer__0f481
        ) {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }
}
.visual-refresh #app-mount .chatContent_f75fb0 .messagesWrapper__36d07 {
    .jumpToPresentBar__0f481 {
        width: calc(100% - 16px) !important;
        min-width: unset !important;
        left: 0px !important;
        top: calc(8px * var(--craat-popout)) !important;
        bottom: unset !important;
        border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
            calc(var(--craat-border-radius) * var(--craat-popout))
            var(--craat-border-radius) var(--craat-border-radius);
        z-index: 5 !important;
        > button > .buttonChildrenWrapper__6af3a {
            min-height: unset !important;
            height: 20px !important;
        }
    }

    .newMessagesBar__0f481,
    .topicsPillContainer__0f481 {
        border: 1px solid var(--border-normal);
        background-color: var(--background-surface-highest) !important;
        padding: 4px 8px 4px 12px !important;
        padding-bottom: 4px;
        border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
            calc(var(--craat-border-radius) * var(--craat-popout))
            var(--craat-border-radius) var(--craat-border-radius);
        top: calc(8px * var(--craat-popout)) !important;
        left: 8px !important;
        right: 8px !important;
        box-shadow: unset !important;
        > button:not([aria-label*="message"]) {
            background-color: var(--button-filled-brand-background);
            height: 22px;
            padding: 0 16px;
            font-weight: 500 !important;
            font-size: small;
            transform: translateX(2px);
            text-align: center;
            border: 1px solid var(--button-filled-brand-border);
            color: var(--button-filled-brand-text);
            margin-right: 6px;
            &:hover {
                background-color: var(--button-filled-brand-background-hover);
                border: 1px solid var(--button-filled-brand-border);
            }
        }
        > button[aria-label*="message"] > span {
            color: white;
        }
        ~ .jumpToPresentBar__0f481 {
            transform: translateY(calc(100% - 2px));
            border-top-color: transparent !important;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &:has(~ .jumpToPresentBar__0f481) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-color: transparent !important;
        }
    }
    .newTopicsBarContainer__0f481 {
        border: 1px solid var(--border-normal);
        background-color: var(--background-surface-highest) !important;
        color: var(--text-default);
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
            calc(var(--craat-border-radius) * var(--craat-popout))
            var(--craat-border-radius) var(--craat-border-radius);
        top: calc(8px * var(--craat-popout)) !important;
        left: 8px !important;
        right: 8px !important;
        .newTopicsBarText__0f481 {
            color: var(--text-default);
        }
        .barButtonAlt__0f481 {
            padding: 0 16px;
            margin-right: 8px;
            border-radius: 8px /* taken from newMessagesBar */;
            color: var(--button-filled-brand-text);
            background-color: var(--button-filled-brand-background);
            border: 1px solid var(--button-filled-brand-border);
            font-weight: 500;
            font-size: 14px;
            &:hover {
                background-color: var(--button-filled-brand-background-hover);
                border: 1px solid var(--button-filled-brand-border);
            }
        }
        &:has(~ .jumpToPresentBar__0f481) {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom-color: transparent !important;
        }
        ~ .jumpToPresentBar__0f481 {
            transform: translateY(calc(100% - 3px));
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-top-color: transparent !important;
            padding-top: 0 !important;
        }
    }
    /* Fix misalignment */
    .topicsPillCarets__0f481 {
        top: 0;
    }
}
:root {
    /* Set to 1 if you want them to float  *\
    |*      Recommended while using        *|
    \*      Midnight/Rounded Themes        */
    --craat-popout: 0; /* Default = 0 */
    /* Change the border radius *\
    \*      for the alerts      */
    --craat-border-radius: 16px; /* default: 16px */
}
/*FANCY MENTION/REPLY GRADIENT COLORS*/
/*By: Burning Stone*/
.mentioned__5126c {
    position: relative;
    border: none !important;
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        rgba(186, 109, 20, 0.2),
        rgba(0, 0, 0, 0)
    );
    border-radius: 4px;
}

.message__5126c.mentioned__5126c.selected__5126c,
.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover,
.mouse-mode.full-motion.visual-refresh .message__5126c.mentioned__5126c:hover,
.visual-refresh .message__5126c.mentioned__5126c.selected__5126c {
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        rgba(186, 109, 36, 0.2),
        var(--background-message-hover)
    );
}

.replying__5126c {
    position: relative;
    border: none !important;
    border-radius: 4px;
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        rgba(58, 72, 163, 0.3),
        rgba(0, 0, 0, 0)
    );
}

.message__5126c.replying__5126c.selected__5126c,
.mouse-mode.full-motion .message__5126c.replying__5126c:hover,
.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover,
.visual-refresh .message__5126c.replying__5126c.selected__5126c {
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        rgba(58, 72, 179, 0.3),
        var(--background-message-hover)
    );
}

.flash__03436 {
    background-image: transparent;
}

.flash__03436[data-flash="true"] {
    background-image: linear-gradient(
        to right,
        rgba(79, 91, 172, 0.3),
        rgba(0, 0, 0, 0)
    );
}

.full-motion .flash__03436 {
    transition: background-color 0.2s ease;
}
@keyframes pointerDelay {
    99.9999% {
        pointer-events: none;
    }
    to {
        pointer-events: all;
    }
}
:root {
    --panel-spotify-marginLeft: 0;
    --panel-spotify-marginRight: 8px;
    --panel-activityIcon-marginLeft: 0;
    --panel-activityIcon-marginRight: 4px;
    --panel-voiceOffset: 40px;
    --panel-pingOffset: -40px;
}
:root.refresh-fast-follow-avatars {
    --panel-spotify-marginLeft: 2px;
    --panel-spotify-marginRight: 10px;
    --panel-activityIcon-marginLeft: 2px;
    --panel-activityIcon-marginRight: 6px;
    --panel-voiceOffset: 44px;
    --panel-pingOffset: -42px;
}
.panels_c48ade > div {
    z-index: 0;
}
.wrapperVisible__0d616 {
    z-index: inherit;
}

/*Buttons*/
.buttons__37e49.buttons__37e49,
.voiceButtonsContainer_e131a9,
.actionButtons_e131a9,
.actions__4cd01,
.icons_e0cf27 {
    background-color: var(--background-surface-highest);
    border-radius: var(--radius-round);
    box-shadow: var(--shadow-border), var(--shadow-low);
    display: flex;
    gap: 2px !important;
    height: unset;
    margin: 0 !important;
    padding: 2px !important;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    right: 6px;
    top: 0;
    transition: 0.15s ease;
    z-index: 2;
}
.micButtonParent__37e49 button {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    padding-right: 4px !important;
}
.micButtonParent__37e49:not(:first-child) button {
    border-radius: unset !important;
    padding: 4px !important;
}
.button__67645.button__67645.button__67645 {
    border-radius: unset;
    height: unset;
    margin: unset;
    padding: 4px;
    width: unset;
    .contents__201d5 {
        transition: scale 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    }
    .lottieIcon__5eb9b,
    svg {
        width: 16px !important;
        height: 16px !important;
    }
    &:first-child {
        border-top-left-radius: var(--radius-round);
        border-bottom-left-radius: var(--radius-round);
        padding-left: 6px;
    }
    &:last-of-type {
        border-top-right-radius: var(--radius-round);
        border-bottom-right-radius: var(--radius-round);
        padding-right: 6px;
    }
    &:hover {
        background-color: var(--background-modifier-hover);
        color: var(--interactive-hover);
        .contents__201d5 {
            scale: 1.1;
        }
    }
}

/*ListenAlong*/
.listeningAlong_e0cf27 {
    background: unset;
    background-color: hsl(var(--spotify-hsl) / 0.1);
    border-bottom: 1px solid var(--border-faint);
    border-radius: 0;
    gap: var(--space-8);
    min-height: 56px;
    padding: var(--space-xs) var(--space-md);
    position: relative;
    &:first-child {
        border-radius: 7px 7px 0 0;
    }
    &:before {
        background-color: var(--spotify);
        content: "";
        height: 24px;
        margin-left: var(--panel-spotify-marginLeft);
        margin-right: var(--panel-spotify-marginRight);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='m12 0c-6.6275 0-12 5.3725-12 12 0 6.6274 5.3725 12 12 12 6.6274 0 12-5.3726 12-12 0-3.1826-1.2643-6.2348-3.5147-8.4853-2.2505-2.2505-5.3027-3.5147-8.4853-3.5147zm5.475 17.325c-.2201.3343-.6576.4478-1.0124.2624-2.8126-1.7249-6.3751-2.1-10.5376-1.1624-.2612.0602-.5348-.0234-.7176-.2195-.1829-.1961-.2472-.4748-.1687-.7313.0784-.2563.2876-.4514.5489-.5117 4.575-1.05 8.475-.6 11.6626 1.35.1679.1012.2869.2666.3294.458.0426.1913.0048.3917-.1044.5544zm1.5-3.3c-.1286.2096-.3356.3593-.575.4156s-.4914.0148-.7-.1156c-3.225-1.9876-8.1376-2.55-11.9626-1.3876-.3216.0938-.6686.009-.9107-.2226-.242-.2316-.3421-.5747-.2626-.9.0796-.3253.3266-.5836.6481-.6774 4.35-1.3124 9.7876-.6749 13.4626 1.6126.4211.279.5525.8375.3 1.275zm.1124-3.375c-3.8624-2.2876-10.2374-2.5126-13.95-1.3876-.5572.0889-1.094-.2486-1.2553-.7895-.1613-.5407.103-1.1172.6179-1.3481 4.2376-1.275 11.2874-1.05 15.75 1.6126.2572.151.4421.3997.5128.6894.0707.2897.021.5956-.1378.848-.3385.5036-1.0051.6662-1.5376.375z' fill='%23fff'/%3E%3C/svg%3E");
        width: 24px;
    }
    &:hover {
        .icons_e0cf27 {
            animation: pointerDelay 0.15s ease forwards;
            opacity: 1;
            top: -14px;
        }
    }
}
.party_e0cf27 {
    margin: 0;
}
.avatar_e0cf27 > .svg__44b0c {
    width: 20px;
    height: 20px;
}
.moreUsers_b2d72f {
    background: linear-gradient(
        315deg,
        hsl(var(--spotify-hsl) / 0.35),
        hsl(var(--spotify-hsl) / 0.75)
    );
    color: var(--white);
}
/*ActivityPanel*/
.activityPanel_c48ade.activityPanel_c48ade {
    background: unset;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 56px;
    padding: var(--space-xs) var(--space-sm);
    transition: background-color 0.2s ease;
    &:first-child {
        border-radius: 7px 7px 0 0;
    }
    &:hover {
        background-color: var(--background-mod-normal);
        .actions__4cd01 {
            animation: pointerDelay 0.15s ease forwards;
            opacity: 1;
            top: -14px;
        }
    }
}
.body__5dec7 {
    width: 100%;
}
.gameWrapper__5dec7,
.gameWrapper__8c6c2 {
    gap: var(--space-8);
}
.wrapper_a629d4,
.gameIcon__5dec7,
.gameIconWrapper__8c6c2 {
    margin-left: var(--panel-activityIcon-marginLeft);
    margin-right: var(--panel-activityIcon-marginRight);
}
.info__8c6c2,
.info__5dec7 {
    margin-left: 0;
    a:first-child div {
        text-decoration: none;
        &:before {
            content: "";
            position: absolute;
            inset: 0;
        }
    }
}
.panelButtonContainer__4cd01 {
    display: contents;
    &:not(:only-child) .button__67645 {
        border-top-right-radius: unset !important;
        border-bottom-right-radius: unset !important;
        padding-right: 4px !important;
    }
}
/*VoicePanel*/
.wrapper_e131a9 {
    transition: background-color 0.2s ease;
    &:first-child {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    &:hover {
        background-color: var(--background-mod-normal);
        .voiceButtonsContainer_e131a9,
        .actionButtons_e131a9 {
            animation: pointerDelay 0.15s ease forwards;
            opacity: 1;
            top: -14px;
        }
    }
}
.container_e131a9.container_e131a9 {
    align-items: center;
    box-sizing: border-box;
    flex-direction: unset;
    gap: var(--space-8);
    padding: var(--space-xs) var(--space-md);
    margin: 0;
    min-height: 56px;
}
.connection_e131a9 {
    flex: unset !important;
    min-width: 40px;
}
.rtcConnectionStatusWrapper__06d62 {
    padding-left: var(--panel-voiceOffset);
}
.ping__06d62 {
    height: 24px;
    margin-left: var(--panel-pingOffset);
    top: calc(50% - 12px);
    position: absolute;
    pointer-events: all;
    width: 24px;
}
.rtcConnectionStatus__06d62 {
    pointer-events: none;
    z-index: 1;
}
.labelWrapper__06d62 {
    pointer-events: all;
    > button {
        width: 100%;
        justify-content: unset;
    }
    .contents__201d5 {
        width: inherit;
    }
}
.rtcConnectionStatusConnected__06d62.rtcConnectionStatusConnected__06d62 {
    color: var(--status-positive);
}
.rtcConnectionStatusLabel__06d62 [data-text-variant] {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-overflow: ellipsis;
}
.channel_e131a9 {
    text-decoration: unset !important;
    div {
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
    }
    &:before {
        content: "";
        position: absolute;
        inset: 0;
    }
}
.voiceUsers_e131a9 {
    border-radius: var(--radius-md);
    flex: 1 0 auto;
    margin: -8px;
    padding: 8px !important;
    max-height: 36px;
    min-height: 20px;
    transition: 0.2s ease;
    pointer-events: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &:has(div:nth-of-type(9)) {
        pointer-events: all;
        &:hover {
            background-color: var(--background-surface-highest);
            box-shadow: var(--shadow-border), var(--shadow-low);
            z-index: 3;
        }
        .voiceUsers__68617 {
            justify-content: unset;
        }
    }
}
.voiceUsers__68617 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-end;
    max-width: 132px;
    min-height: 100%;
    row-gap: 4px;
    z-index: 1;
}
.avatarContainer__68617:not(:last-of-type, :nth-of-type(8n)) {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' viewBox='0 0 20 20' width='100'%3E%3Cpath d='m18 0h-18v20h18c-2.8526705-2.3846085-4.6687684-5.979124-4.6687684-10 0-4.02087599 1.8160979-7.6153915 4.6687684-10z' fill-rule='evenodd'/%3E%3C/svg%3E");
    mask-size: 100%;
    margin-right: -4px;
}
.avatar__68617,
.button__06eda {
    width: 20px;
    height: 20px;
    min-width: unset;
    min-height: unset;
    pointer-events: all;
}
.avatarIconOverlay__68617 {
    width: 12px;
    height: 12px;
    padding: 4px;
}
.actionButtons_e131a9.actionButtons_e131a9.actionButtons_e131a9.actionButtons_e131a9 {
    right: 72px;
    .disabledButtonWrapper__201d5 {
        height: unset;
        min-height: unset;
    }
    button {
        background: transparent;
        border: unset !important;
        border-radius: unset;
        color: var(--icon-secondary);
        height: unset;
        margin: unset;
        min-height: unset;
        min-width: unset;
        padding: 4px;
        width: unset;
        &.buttonActive_e131a9 {
            color: var(--green-360) !important;
            background-color: hsl(var(--green-360-hsl) / 0.1);
            &:hover {
                background-color: hsl(var(--green-360-hsl) / 0.2);
            }
        }
        &:first-child {
            border-top-left-radius: var(--radius-round);
            border-bottom-left-radius: var(--radius-round);
            padding-left: 6px;
        }
        .contents__201d5 {
            transition: scale 0.4s cubic-bezier(0.16, 1, 0.3, 1);
        }
        .buttonContents_e131a9 {
            width: 16px !important;
            height: 16px !important;
        }
        &:hover {
            background-color: var(--background-modifier-hover);
            color: var(--interactive-hover);
            .contents__201d5 {
                scale: 1.1;
            }
        }
    }
    > div > button {
        border-top-left-radius: unset !important;
        border-bottom-left-radius: unset !important;
        border-top-right-radius: var(--radius-round);
        border-bottom-right-radius: var(--radius-round);
        padding-left: 4px !important;
        padding-right: 6px;
    }
}
/*UserPanel*/
.container__37e49.container__37e49 {
    border-radius: 0 0 7px 7px;
    padding: 0 !important;
    margin: 0;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: var(--background-mod-normal);
        .buttons__37e49 {
            animation: pointerDelay 0.15s ease forwards;
            opacity: 1;
            top: -14px;
        }
    }
    &:has(.micButtonParent__37e49 .redGlow__67645) .title_b6c092:before {
        order: 1;
        background-color: var(--status-danger);
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='m2.7 22.7 20-20a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4ZM10.8 17.32c-.21.21-.1.58.2.62V20H9a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-2v-2.06A8 8 0 0 0 20 10a1 1 0 0 0-2 0c0 1.45-.52 2.79-1.38 3.83l-.02.02A5.99 5.99 0 0 1 12.32 16a.52.52 0 0 0-.34.15l-1.18 1.18ZM15.36 4.52c.15-.15.19-.38.08-.56A4 4 0 0 0 8 6v4c0 .3.03.58.1.86.07.34.49.43.74.18l6.52-6.52ZM5.06 13.98c.16.28.53.31.75.09l.75-.75c.16-.16.19-.4.08-.61A5.97 5.97 0 0 1 6 10a1 1 0 0 0-2 0c0 1.45.39 2.81 1.06 3.98Z'/%3E%3C/svg%3E");
        mask-position: left, right;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &:has(.redGlow__67645:nth-last-of-type(2)) .title_b6c092:before {
        width: 26px;
        -webkit-mask-image:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='m2.7 22.7 20-20a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4ZM10.8 17.32c-.21.21-.1.58.2.62V20H9a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-2v-2.06A8 8 0 0 0 20 10a1 1 0 0 0-2 0c0 1.45-.52 2.79-1.38 3.83l-.02.02A5.99 5.99 0 0 1 12.32 16a.52.52 0 0 0-.34.15l-1.18 1.18ZM15.36 4.52c.15-.15.19-.38.08-.56A4 4 0 0 0 8 6v4c0 .3.03.58.1.86.07.34.49.43.74.18l6.52-6.52ZM5.06 13.98c.16.28.53.31.75.09l.75-.75c.16-.16.19-.4.08-.61A5.97 5.97 0 0 1 6 10a1 1 0 0 0-2 0c0 1.45.39 2.81 1.06 3.98Z'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M22.7 2.7a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4l20-20ZM17.06 2.94a.48.48 0 0 0-.11-.77A11 11 0 0 0 2.18 16.94c.14.3.53.35.76.12l3.2-3.2c.25-.25.15-.68-.2-.76a5 5 0 0 0-1.02-.1H3.05a9 9 0 0 1 12.66-9.2c.2.09.44.05.59-.1l.76-.76ZM20.2 8.28a.52.52 0 0 1 .1-.58l.76-.76a.48.48 0 0 1 .77.11 11 11 0 0 1-4.5 14.57c-1.27.71-2.73.23-3.55-.74a3.1 3.1 0 0 1-.17-3.78l1.38-1.97a5 5 0 0 1 4.1-2.13h1.86a9.1 9.1 0 0 0-.75-4.72ZM10.1 17.9c.25-.25.65-.18.74.14a3.1 3.1 0 0 1-.62 2.84 2.85 2.85 0 0 1-3.55.74.16.16 0 0 1-.04-.25l3.48-3.48Z'/%3E%3C/svg%3E");
    }
}
.wrapper_e131a9:first-child:empty + .container__37e49 {
    border-radius: 7px;
}
.avatarWrapper__37e49.avatarWrapper__37e49 {
    background: transparent !important;
    border-radius: inherit;
    padding: var(--space-xs);
    padding-right: var(--space-md);
}
.title_b6c092 {
    align-items: center;
    gap: 4px;
    display: flex;
}
.density-compact .avatarWrapper__37e49.avatarWrapper__37e49 {
    padding-left: var(--space-4);
}
.density-cozy .avatarWrapper__37e49.avatarWrapper__37e49 {
    padding-left: var(--space-12);
}

/*[PLUGIN / BETTERDISCORD / Game Activity Toggle]*/
.buttons__37e49:not(:last-child) {
    right: 98px;
}
.gameActivityToggleButton_fd3fb5.gameActivityToggleButton_fd3fb5 {
    margin: 0;
}

/*[PLUGIN / VENCORD / SpotifyControls]*/
#vc-spotify-player#vc-spotify-player {
    background: unset;
    border-radius: 0;
    box-sizing: border-box;
    min-height: 56px;
    padding: var(--space-sm) var(--space-xs);
    position: relative;
    &:hover {
        .vc-spotify-button-row {
            animation: pointerDelay 0.15s ease forwards;
            opacity: 1;
            top: -14px;
        }
        #vc-spotify-progress-bar {
            animation: pointerDelay 0.15s ease forwards;
            opacity: 1;
            top: -14px;
        }
    }
}
#vc-spotify-info-wrapper {
    gap: var(--space-8);
    height: fit-content;
}
#vc-spotify-album-image {
    height: 40px;
}
#vc-spotify-album-expanded-wrapper #vc-spotify-album-image {
    height: unset;
}
#vc-spotify-titles {
    padding: 0;
}
#vc-spotify-song-title {
    font-weight: 500;
    line-height: 18px;
}
.vc-spotify-secondary-song-info {
    line-height: 13px;
}
.vc-spotify-artist,
.vc-spotify-album {
    color: var(--text-secondary) !important;
}
.vc-spotify-button-row.vc-spotify-button-row {
    background-color: var(--background-surface-highest);
    border-radius: var(--radius-round);
    box-shadow: var(--shadow-border), var(--shadow-low);
    display: flex;
    gap: 2px !important;
    height: unset;
    margin: 0;
    padding: 2px;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    right: 6px;
    top: 0;
    transition: 0.15s ease;
    z-index: 2;
}
.vc-spotify-button.vc-spotify-button {
    border-radius: 0;
    height: unset;
    margin: 0;
    padding: 4px;
    transition: background-color 0.2s ease;
    width: unset;
    &:first-child {
        border-top-left-radius: var(--radius-round);
        border-bottom-left-radius: var(--radius-round);
        padding-left: 6px;
    }
    &:last-child {
        border-top-right-radius: var(--radius-round);
        border-bottom-right-radius: var(--radius-round);
        padding-right: 6px;
    }
    &:hover {
        .vc-spotify-button-icon.vc-spotify-button-icon {
            scale: 1.1;
        }
    }
}
.vc-spotify-button-icon.vc-spotify-button-icon {
    height: 16px;
    width: 16px;
    transition: scale 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.vc-spotify-repeat-1 {
    left: calc(50% - 1px);
}
#vc-spotify-progress-bar#vc-spotify-progress-bar {
    background-color: var(--background-surface-highest);
    border-radius: 14px;
    box-shadow: var(--shadow-border), var(--shadow-low);
    box-sizing: border-box;
    column-gap: 2px;
    display: grid;
    grid-template-areas: "vcSpotifySlider vcSpotifySlider vcSpotifySlider" "vcSpotifyProgress vcSpotifySlash vcSpotifyDuration";
    left: 6px;
    margin: 0;
    min-height: 28px;
    opacity: 0;
    padding: 2px 6px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition:
        0.15s ease,
        max-width 0.4s ease;
    width: unset;
    .slider_a562c8 {
        grid-area: vcSpotifySlider;
        margin-bottom: -24px;
        opacity: 0;
        transition: 0.15s ease;
    }
    .track_a562c8 {
        right: 15px;
        left: 0;
    }
    .barFill_a562c8 {
        background-color: var(--spotify);
    }
    &:after {
        content: "/";
        display: flex;
        grid-area: vcSpotifySlash;
        justify-content: center;
        pointer-events: none;
        transition: opacity 0.15s ease;
    }
    &:hover {
        right: 6px;
        z-index: 3;
        .slider_a562c8 {
            opacity: 1;
        }
        .vc-spotify-progress-time,
        &:after {
            opacity: 0;
        }
    }
}
.vc-spotify-progress-time.vc-spotify-progress-time {
    display: flex;
    position: unset;
    margin: 0;
    pointer-events: none;
    transition: 0.15s ease;
}
.vc-spotify-time-left {
    grid-area: vcSpotifyProgress;
}
.vc-spotify-time-right {
    grid-area: vcSpotifyDuration;
    justify-content: end;
}
.embedFull__623de {
    overflow: hidden;

    &::before {
        top: -1px;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        max-width: 100%;
        height: calc(100% + 2px);
        box-sizing: border-box !important;
        opacity: 0.25;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
    }

    .gridContainer__623de {
        z-index: 2;
    }
}
.withAccentColor__60fa3 {
    background: color-mix(
        in srgb,
        var(--background-surface-high),
        var(--__accent-color) 25%
    );
}
/* reduce context menu padding */
.layer_da8173 > .menu_c1e9c4 {
    min-width: 0;
    width: 171px !important;
    .scroller_c1e9c4 {
        /* border margin */
        margin: -4px;
    }
    .separator_c1e9c4 {
        /* separator margin */
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        /* reactions margin */
        padding: 0px !important;
        margin: 1px;
    }
    .item_c1e9c4 {
        /* min-height is 32px as default, change value for desired look */
        min-height: 0;
        /* padding is 4px 8px as default, change value for desired look */
        padding: 4px 8px;
    }
    .icon_f563df {
        /* reactions size */
        width: 18px;
    }
    .button_f563df {
        /* reactions border size */
        width: 36px;
        height: 36px;
        border-radius: 4px;
    }
    .icon_c1e9c4 {
        /* icons size */
        width: 18px;
        height: 18px;
    }
    .iconContainer_c1e9c4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.sidebarRegion__23e6b {
    flex: none;
}
.contentColumn__23e6b,
.customColumn__23e6b {
    max-width: 90%;
    min-height: 100%;
}
.accountProfileCard__1fed1 .mask__68edb mask circle {
    display: none;
}
.avatar__1fed1 {
    top: 140px;
}
.vc-membercount-member-list {
    justify-content: space-between !important;
    margin-top: 0 !important;
    padding-inline: 0 !important;
    background: var(--bg-overlay-4, var(--background-base-lowest));
    border-bottom: 1.5px solid var(--border-subtle);
    border-right: 1.5px solid var(--border-subtle);
    margin-bottom: -16px !important;

    .vc-membercount-online-dot,
    .vc-membercount-total-dot {
        margin: 0 !important;
    }

    > div {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 6px 0;

        &::after {
            display: inline;
            font-size: 0.8em;
            margin-top: 2px;
        }
        &:nth-child(1) {
            margin-left: 20px;
        }
        &:nth-child(1)::after {
            content: "online";
            color: var(--color-online);
        }
        &:nth-child(3) {
            padding-right: 20px;
        }
        &:nth-child(3)::after {
            content: "total";
            color: var(--color-total);
        }
    }
}
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(
        var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px
    );
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}
.visual-refresh nav[class*="guilds_"] {
    margin-bottom: unset;
}
[class*="membersGroup"]:has([role="button"]),
[class*="member"] [class*="container"]:has([class*="badges"]) {
    display: none;
}
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 {
        display: none;
    }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);
        image-rendering: pixelated;
        align-content: center;
        scale: 3.125;
        margin-bottom: 96px;
    }
}
:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}
.wrapper__2ea32:hover .unread__2ea32 {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 3px;
    background-color: transparent;
    background: url("https://cdn.discordapp.com/emojis/1026533070955872337.webp?size=48");
    background-size: 12px;
    background-position: center;
}
